package register

import "github.com/ybencab/todo-app/views/layouts"
import "github.com/ybencab/todo-app/views/components"

templ Index() {
  @layouts.Base() {
    <div>
      @components.Message("Register")
    </div>
  }
}