package register

import (
	"github.com/ybencab/todo-app/views/components"
	"github.com/ybencab/todo-app/views/layouts"
)

templ Index() {
	@layouts.Base() {
		<div>
			@components.Message("Register")
			<div class="flex flex-col items-center mt-5">
				<div class="px-2 py-2 bg-gray-50 shadow-xl">
					@components.RegisterForm("", "", "")
				</div>
			</div>
		</div>
	}
}
