package login

import (
	"github.com/ybencab/todo-app/views/components"
	"github.com/ybencab/todo-app/views/layouts"
	"net/http"
)

templ Index(r *http.Request) {
	@layouts.Base(r) {
		<div>
			@components.Message("Login")
			<div class="flex flex-col items-center mt-5">
				<div class="px-2 py-2 bg-gray-50 shadow-xl">
					@components.LoginForm("", "", "")
				</div>
			</div>
		</div>
	}
}
